<p><strong>Lenguajes:</strong> Java, JavaScript, Python, PHP</p>
<p><strong>Frameworks</strong> Spring, Angular</p>
<p><strong>Herramientas de desarrollo</strong>Git, Eclipse, IntelliJ IDEA, Jira, Bitbucket, Confluence, Trello</p>
<p><strong>Ops</strong>
    <ul>
        <li>Servicios en la nub AWS, GCP, Azure</li>
        <li>Contenedores - Docker</li>
        <li>IaC - CloudFormation, Terraform, CDK</li>
        <li>Monitoreo - Prometheus, Grafana, Spring Actuator</li>
        <li>Servidores - Nginx, Apache, </li>
    </ul>
</p>